.modal_header1 {
  width: 100%;
  height: 56px;
  display: flex;
  padding-left: 24px;
  padding-right: 12px;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  border-bottom: 1px #e5e5ee solid;

  .left {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;

    .back_button { 
      display: none;
    }
    
    .title {
      font-size: 16px;
      font-weight: 600;
    }
  }

  .right {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

@media Only screen and (max-width: 640px) {
  .modal_header1 {
    padding-left: 4px;

    .left {
      .back_button {
        display: flex;
      }
    }
    .right {
      display: none;
    }
  }
}