.form_notification1 {
  gap: 12px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  .icon {
    width: 150px;
    height: 150px;
    color: #125;
  }

  .label {
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }
}

@media Only screen and (max-width: 640px) {
  .form_notification1 {
    .circle {
      width: 120px;
      height: 120px;
    }

    .label {
      font-size: 20px;
    }
  }
}